@import "colors";

cb-submit-button,
cb-icon-button,
span {
	float: right;
}

cb-submit-button,
span {
	position: relative;
	top: 10px;
}

.chat-button {
	float: left;
	position: relative;
	top: 10px;
	background-color: $lightGreen;
	color: white;

	mat-icon {
		font-size: 21px;
		position: relative;
		top: 2px;
		right: 6px;
	}
}
