$white: #fff;
$lightestGray: #f3f3f3;
$lightGray: #e6e6e6;
$lightGreen: #4dc1b1;
$greenDarker: #389c8c;
$greenDark: #2b8576;
$lighterGreen: #e6ffe1;
$darkGray: #8a8a8a;
$orange: #ecaf1e;
$yellowDarker: #ffe940;
$yellow: #ffe000;
$lightestBlue: #9ea3bb;
$primary: #3f51b5;
$red: #be1622;
$darkOrange: #ec931e;
