.center {
	display: flex;
	justify-content: center;
}

.mt-40 {
	margin-top: 40px;
}

.mr-15 {
	margin-right: 15px;
}

.right {
	float: right;	
}

.success {
	color: green;
}

.warn {
	color: orange;
}
