<div class="row">
	<div class="col-lg-6 col-12">
		<cb-card [header]="constants.register"
			[subheader]="constants.registerHere">
			<form [formGroup]="form"
				(ngSubmit)="register()">
				<div class="row">
					<div class="col-6">
						<cb-form-field [form]="form"
							[label]="constants.firstName"
							[placeholder]="constants.firstNamePlaceholder"
							name="firstName">
						</cb-form-field>
					</div>
					<div class="col-6">
						<cb-form-field [form]="form"
							[label]="constants.lastName"
							[placeholder]="constants.lastNamePlaceholder"
							name="lastName">
						</cb-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<cb-form-field [form]="form"
							[label]="constants.email"
							[placeholder]="constants.emailPlaceholder"
							type="email"
							name="email">
						</cb-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<cb-form-field [form]="form"
							[label]="constants.password"
							[placeholder]="constants.passwordPlaceholder"
							type="password"
							name="password">
						</cb-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<cb-form-field [form]="form"
							[label]="constants.age"
							[placeholder]="constants.agePlaceholder"
							type="number"
							name="age">
						</cb-form-field>
					</div>
					<div class="col-6">
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<cb-submit-button [label]="constants.register"
							[isDisabled]="form.invalid"
							[isPending]="(isPending$ | async)!">
						</cb-submit-button>
					</div>
				</div>
			</form>
		</cb-card>
	</div>
</div>
