<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-8 col-12">
		<cb-card [header]="constants.search"
			[subheader]="constants.searchForTrips">
			<form [formGroup]="form"
				(ngSubmit)="search()">
				<div class="row">
					<div class="col-12">
						<cb-autocomplete [form]="form"
							[control]="control('fromCity')"
							[label]="constants.fromCity"
							[placeholder]="constants.from"
							[items]="(fromCities$ | async) || []">
						</cb-autocomplete>
					</div>
					<div class="col-12">
						<cb-autocomplete [form]="form"
							[control]="control('toCity')"
							[label]="constants.toCity"
							[placeholder]="constants.to">
						</cb-autocomplete>
					</div>
					<div class="col-12">
						<cb-form-field [form]="form" [label]="constants.numberOfPassengers"
							[placeholder]="constants.numberOfPassengersPlaceholder"
							[min]="1"
							[max]="8"
							type="number"
							name="numberOfPassengers">
						</cb-form-field>
					</div>
					<div class="col-12">
						<cb-submit-button [label]="constants.search"></cb-submit-button>
					</div>
				</div>
			</form>
		</cb-card>
	</div>
</div>
