<div class="row">
	<div class="col-lg-6 col-12">
		<cb-card [header]="constants.search"
			[subheader]="constants.searchForTrips">
			<form [formGroup]="form"
				(ngSubmit)="search()">
				<div class="row">
					<div class="col-12">
						<cb-places-autocomplete [form]="form"
							[label]="constants.fromCity"
							[placeholder]="constants.fromCityPlaceholder"
							name="fromCity">
						</cb-places-autocomplete>
					</div>
					<div class="col-12">
						<cb-places-autocomplete [form]="form"
							[label]="constants.toCity"
							[placeholder]="constants.toCityPlaceholder"
							name="toCity">
						</cb-places-autocomplete>
					</div>
					<div class="col-12">
						<cb-date-picker [form]="form"
							[label]="constants.startDate"
							[placeholder]="constants.startDatePlaceholder"
							[startDate]="currentDate"
							[minDate]="currentDate"
							name="date">
						</cb-date-picker>
					</div>
					<div class="col-12">
						<cb-form-field [form]="form"
							[label]="constants.numberOfPassengers"
							[placeholder]="constants.numberOfPassengersPlaceholder"
							[min]="1"
							[max]="8"
							type="number"
							name="numberOfPassengers">
						</cb-form-field>
					</div>
					<div class="col-12">
						<cb-submit-button [label]="constants.search"
							[isDisabled]="form.invalid">
						</cb-submit-button>
					</div>
				</div>
			</form>
		</cb-card>
	</div>
</div>
