@import "colors";

.message {
	width: fit-content;
	word-wrap: break-word;
	max-width: 300px;
	white-space: normal;
	padding: 10px;
	border-radius: 12px;

	&.author {
		background-color: $lighterGreen;
		float: right;
	}

	&.recipient {
		background-color: $lightestGray;
		margin-left: 10px;
	}
}

.date {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	color: #c1c1c1;
	margin-top: 10px;
}
