<div class="row">
	<div class="col-6">
		<cb-card [header]="'Login'"
			[subheader]="'Login here'">
			<div class="row">
				<div class="col-6">
					<cb-form-field label="First name"
						placeholder="Enter your first name here">
					</cb-form-field>
				</div>
				<div class="col-6">
					<cb-email-form-field label="Last name"
						placeholder="Enter your last name here">
					</cb-email-form-field>
				</div>
				<div class="col-12">
					<cb-form-field label="Email address"
						placeholder="Enter your email address here">
					</cb-form-field>
				</div>
				<div class="col-12">
					<cb-password-form-field label="Password"
						placeholder="Enter your password here">
					</cb-password-form-field>
				</div>
				<div class="col-6">
					<cb-number-form-field></cb-number-form-field>
				</div>
				<div class="col-6">
					<cb-upload-form-field></cb-upload-form-field>
				</div>
			</div>
		</cb-card>
	</div>
</div>
