<div class="row">
	<div class="col-lg-6 col-12">
		<cb-card [header]="constants.login"
			[subheader]="constants.loginHere">
			<form [formGroup]="form"
				(ngSubmit)="login()">
				<div class="row">
					<div class="col-12">
						<cb-form-field [form]="form"
							[label]="constants.email"
							[placeholder]="constants.emailPlaceholder"
							type="email"
							name="email">
						</cb-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<cb-form-field [form]="form"
							[label]="constants.password"
							[placeholder]="constants.passwordPlaceholder"
							type="password"
							name="password">
						</cb-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<cb-submit-button [label]="constants.login"
							[isDisabled]="form.invalid"
							[isPending]="(isPending$ | async)!">
						</cb-submit-button>
					</div>
				</div>
			</form>
		</cb-card>
	</div>
</div>
