<div *ngIf="conversations; else loading"
	class="row">
	<div class="col-6">
		<cb-conversations [conversations]="conversations"
			[selectedConversationId]="(selectedConversationId$ | async)!"
			(onSelect)="setSelectedConversation($event)">
		</cb-conversations>
	</div>
	<div class="col-6">
		<cb-message-preview [messages]="messages">
		</cb-message-preview>
	</div>
</div>

<ng-template #loading>
	<div class="row">
		<div class="col-12">
			<cb-loader class="center"></cb-loader>
		</div>
	</div>
</ng-template>
