<ng-container *ngIf="trips$ | async as trips; else loading">
	<ng-container *ngIf="trips.length; else noTrips">
		<div *ngFor="let trip of trips"
			class="row center">
			<div class="col-lg-5 col-md-7 col-sm-12">
				<cb-card>
					<cb-trip-summary [trip]="trip"></cb-trip-summary>
				</cb-card>
			</div>
		</div>
	</ng-container>

	<ng-template #noTrips>No trips found!</ng-template>
</ng-container>

<ng-template #loading>
	<cb-progress-bar></cb-progress-bar>
</ng-template>

<div *ngIf="pagination$ | async as pagination"
	class="row center mb-20">
	<div class="col-lg-5 col-md-7 col-sm-12">
		<mat-paginator [pageIndex]="pagination.pageIndex"
			[pageSize]="pagination.pageSize"
			[length]="pagination.totalElements"
			(page)="getTrips($event)"
			showFirstLastButtons
			hidePageSize>
		</mat-paginator>
	</div>
</div>
