<ng-container *ngIf="trip$ | async as trip; else loading">
	<div class="row center mt-40">
		<div class="col-6">
			<cb-card imageUrl="assets/images/maps.jpg"
				imageAlt="Maps">
				<div class="row">
					<div class="row">
						<div class="col-12">
							<div>From: {{ trip.fromAddress }} ({{ trip.startTime }})</div>
							<div>To: {{ trip.toAddress }} ({{ trip.arriveTime }})</div>
						</div>
						<div class="col-3 offset-3">
							<span>{{ trip.price }}</span>
						</div>
					</div>
				</div>
			</cb-card>
		</div>
	</div>
</ng-container>

<ng-template #loading>
	Loading trip...
</ng-template>
