<cb-card-form [form]="form"
	[header]="constants.addTrip"
	(onSubmit)="addTrip()">
	<cb-add-car *ngIf="car$ | async as car"
		[car]="car">
	</cb-add-car>

	<div class="col-12">
		<cb-places-autocomplete [form]="form"
			[control]="this.form.get('fromAddress')!"
			[label]="constants.fromAddress"
			[placeholder]="constants.fromAddressPlaceholder">
		</cb-places-autocomplete>
	</div>
	<div class="col-12">
		<cb-places-autocomplete [form]="form"
			[control]="this.form.get('toAddress')!"
			[label]="constants.toAddress"
			[placeholder]="constants.toAddressPlaceholder">
		</cb-places-autocomplete>
	</div>
	<div class="col-12">
		<cb-date-picker [form]="form"
			[label]="constants.startDate"
			[placeholder]="constants.startDatePlaceholder"
			[startDate]="today"
			[minDate]="today"
			name="date">
		</cb-date-picker>
	</div>
	<div class="col-12">
		<cb-form-field [form]="form"
			[control]="this.form.get('price')!"
			[label]="constants.price"
			[placeholder]="constants.pricePlaceholder"
			type="number">
		</cb-form-field>
	</div>
	<div class="col-12">
		<cb-submit-button [label]="constants.addTrip"
			[isDisabled]="form.invalid"
			[isPending]="(isPending$ | async)!">
		</cb-submit-button>
	</div>
</cb-card-form>
