span {
	padding-right: 1rem;
}

.navbar {
	justify-content: space-between;
	flex-wrap: wrap;
}

.active {
	color: #ababab;
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: #ababab;
	}
}

.mat-toolbar {
	background-color: rgb(35, 35, 46);
	color: white;
}
