@import "colors";

tr {
	cursor: pointer;
}

:host ::ng-deep {
	table {
		width: 100%;
		box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
			0px 1px 3px 0px rgb(0 0 0 / 12%);
		border-radius: 5px;
		overflow: hidden;

		td,
		th {
			border-bottom: 0;
			border-bottom-style: none;
		}
	}

	tbody > tr:hover {
		background-color: $lightestGray;
	}

	thead > tr:first-of-type {
		border-bottom: 0.2px solid $lightGray;
	}
}

.active {
	background-color: $lightGray;
}
