<div class="row">
	<div class="col-6">{{ constants.from }}</div>
	<div class="col-6">{{ trip.fromAddress }} - {{ trip.startTime }}</div>
</div>
<hr>
<div class="row">
	<div class="col-6">{{ constants.to }}</div>
	<div class="col-6">{{ trip.toAddress }} - {{ trip.arriveTime }}</div>
</div>
<hr>
<div class="row">
	<div class="col-6">{{ constants.price }}</div>
	<div class="col-6">{{ trip.price }} din.</div>
</div>
<hr>
<div class="row h-50">
	<div class="col-6">
		<img src="assets/images/avatar.png"
			alt="CarBuddy - avatar" />
		<div class="details">Milos</div>
		<div class="details">
			<span>4.9</span>
			<mat-icon color="primary">star_rate</mat-icon>
		</div>
	</div>
	<div class="col-3 offset-3">
		<button mat-flat-button
			[routerLink]="[trip.id]"
			type="button"
			color="primary">
			Details
		</button>
	</div>
</div>
