img {
	border-radius: 50%;
	width: 50px;
}

.details {
	position: relative;
	left: 62px;
	bottom: 42px;
	font-size: 16px;
}

.h-50 {
	height: 50px !important;
}

.mat-icon {
	font-size: 18px;
	top: 1px;
	left: 4px;
	position: relative;
}
