@import "shared";
@import "colors";

:host ::ng-deep cb-trip-details > .row:first-of-type {
	margin-top: 10px;
}

.add-icon {
	position: relative;
	bottom: 2px;
	left: 7px;
}

.chat-icon {
	position: relative;
	top: 13.3px;
}

:host ::ng-deep cb-card > .mat-card {
	padding-bottom: 15px;
}
