<ng-container *ngIf="trip$ | async as trip; else loading">
	<div class="row center mt-40">
		<div class="col-lg-6 col-md-8">
			<cb-card imageUrl="assets/images/maps.jpg"
				imageAlt="Maps">
				<cb-trip-details [trip]="trip">
					<div class="row">
						<div class="col-6">
							<cb-icon-button icon="chat"
								class="chat-icon">
							</cb-icon-button>
						</div>
						<div class="col-6">
							<form [formGroup]="form"
								(ngSubmit)="makeReservation(trip.id)">
								<cb-form-field [form]="form"
									[label]="'Number of seats'"
									[placeholder]="'Select seats'"
									type="number"
									name="numberOfSeats">
								</cb-form-field>
								<cb-icon-button icon="person_add"
									type="submit"
									class="add-icon">
								</cb-icon-button>
							</form>
						</div>
					</div>
				</cb-trip-details>
			</cb-card>
		</div>
	</div>
</ng-container>

<ng-template #loading>
	<cb-progress-bar></cb-progress-bar>
</ng-template>
