@import "colors";

:host ::ng-deep {
	cb-card > mat-card {
		overflow-y: scroll;
		overflow-x: hidden;
		height: 550px;

		&::-webkit-scrollbar {
			width: 0.7em;
		}

		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			border-radius: 5px;
		}
	}

	cb-textarea > mat-form-field {
		width: 100%;

		.mat-form-field-wrapper {
			padding: 0;
		}
	}

	cb-submit-icon-button {
		position: relative;
		right: 20px;
		top: 15px;
	}
}

.col-12:first-of-type {
	margin-bottom: 20px;
}
