<ng-container *ngIf="conversations$ | async">
	<ng-container *ngIf="messages$ | async as messages; else loading">
		<cb-card>
			<ng-container *ngFor="let message of messages">
				<cb-message [message]="message"></cb-message>
			</ng-container>

			<form [formGroup]="form"
				(ngSubmit)="send()"
				footer
				autocomplete="false"
				spellcheck="false">
				<div class="row">
					<div class="col-11">
						<cb-textarea [form]="form"
							[control]="messageControl"
							[label]="constants.typeMessageLabel"
							[placeholder]="constants.typeMessagePlaceholder">
						</cb-textarea>
					</div>
					<div class="col-1">
						<cb-submit-icon-button icon="send"
							[isDisabled]="form.invalid"
							[isPending]="(isPending$ | async)!"
							[tooltip]="constants.send">
						</cb-submit-icon-button>
					</div>
				</div>
			</form>
		</cb-card>
	</ng-container>

	<ng-template #loading>
		<cb-loader class="center"></cb-loader>
	</ng-template>
</ng-container>
