@import "colors";

:host ::ng-deep {
	cb-card > mat-card {

		mat-card-content {
			overflow-y: auto;
			height: 65vh;
			overflow-x: hidden;

			&::-webkit-scrollbar {
				width: 0.7em;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $darkGray;
				border-radius: 5px;
			}
		}

		mat-card-actions {
			position: sticky;
			background-color: white;
			bottom: 0;
		}
	}

	cb-submit-icon-button {
		position: relative;
		right: 20px;
		top: 15px;
	}
}

.col-12:first-of-type {
	margin-bottom: 20px;
}
