<ng-container *ngIf="conversations">
	<ng-container *ngIf="messages$ | async as messages; else loading">
		<cb-card #scrollableCard>
			<span subheader>
				<cb-avatar></cb-avatar>
				{{ recipient.fullName }}
			</span>

			<ng-container *ngFor="let message of messages; let i = index;">
				<cb-message [message]="message"
					[previousMessage]="messages[i - 1]">
				</cb-message>
			</ng-container>

			<cb-send-message footer
				[conversationId]="selectedConversation">
			</cb-send-message>
		</cb-card>
	</ng-container>

	<ng-template #loading>
		<cb-loader class="center"></cb-loader>
	</ng-template>
</ng-container>
